@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.shadow-button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.shadow-card-features {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(255, 255, 255, 0.08) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.shadow-rating {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shadow-card-review {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.swiper-pagination-bullet-active {
    background-color: #333333 !important;
}

.shadow-signup {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-votes {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #6B6C70 0%, #6B6C70 100%);
}

.card-weather {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(6.1deg, #DFC298 4.85%, rgba(124, 80, 38, 0.94) 95.92%);
}

.shadow-vote-item {
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.shadow-create-btn {
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.15);
}